#title{
    background-color: #ff4c68;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
}
h1{
     font-family: 'Montserrat-black', sans-serif;
     font-size: 3rem;
     line-height: 1.5;

}
#title{
    padding: 3% 13% 0 13%;
    color: white;
}
.navbar-brand{
    font-size: 2.5rem;
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding: 0 28px;
}

/* download buttons */

/* phone image */
.phone-img{
    transform: rotate(25deg);
}
h3{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 1.5rem;
}
#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    padding: 7%;
}
p{
    color: #8f8f8f;
}
.fa-solid{
    padding: 0 0 16% 0 ;
    color: #ef8172;
}
.fa-solid:hover{
    color:#ff4c68 ;
}

/* testimonial section */

#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: #ffff;
}
.carousel-item{
    padding: 7% 13%;
}
h2{
    font-family: "Montserrat-Bold";
    font-size: 3rem;
}
.testimonial-img{
    width: 12%;
    border-radius: 100%;
    margin: 20px;
}

/* press  */
#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px;
}

/* pricing  */

#pricing{
    padding: 7% 5%;
    text-align: center;
}
.pricing{
    padding-top: 3%;
}